body { 
	color: #fff;
	background: #121212; 
	font-family: proxima-nova,sans-serif;
	font-style: normal;
}

#container-pad {
	padding: 0;
}

.title {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.artist {
	font-size: 14px;
	padding: 0;
	margin:0;
	color: rgb(119, 119, 119);
}

.album-cover {
	padding: 30px 30px 0px 30px;
}

.grey-light {
	background: #232323;
}

.grey {
	background: #171717;
}

.main-background {
	background: #121212;
}

.form-control {
	padding: 30px 50px 30px 50px;
	color: #fff;
	caret-color: #1db954;
	font-size: 40px;
	background-color: #282828;
}

.form-control::placeholder {
	color: rgb(80, 80, 80);
	font-size: 40px;
}

.form-control:focus {
	color: #fff;
	background-color: #282828;
	outline: none;
	box-shadow: none;
	border: none;
}

*:focus {
	outline: none !important;
}

.audio-feature-input {
	background-color: #212529;
	color: #fff;
	width: 50px;
	font-weight: 300 !important;
	border: none;
}

/* Search form */
input[type=text] {
	font-weight: 700;
	border: none;
}

.btn-outline-light {
	outline: none;
    color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
}

.btn-outline-light:focus {
	box-shadow: 0 0 0 0.2rem rgb(80, 80, 80);
	outline: none;
}

.nav-container {
	background-color: #343a40 !important;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 9999; /* Place that bitch on top */
}

.results-container {
	margin-top: 50px;
}

.results-title {
	color: #fff;
	font-family: proxima-nova,sans-serif;
	font-style: normal;
	font-size: 36px;
	font-weight: 700;
	padding: 0;
}

.my-link {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	padding: 0;
	text-decoration: none;
}

.my-link:hover {
	color: inherit;
	opacity: .75;
	text-decoration: none;
}

#background-red {
	background: rgb(221, 134, 134);
}

.my-grid {
	display: grid;
	width: 100%;
	grid-template-columns: 25% 75%;
	grid-template-rows: 1fr;
}

#mgi-1 {
	justify-content: start;
}

#mgi-2 {
	justify-self: center;
}

#tolerance .slider-selection {
	background: #BABABA;
}

.tooltip.in {
	opacity: 1;
  }